body {
    font-family: Sailec-Regular,"system-ui",-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,"sans-serif";
}

section {
    padding: 48px 24px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

p{
    font-family: Sailec-Regular,"system-ui",-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,"sans-serif";
    color: #5b6987;
    font-size: 16px;
    line-height: 160%;
    font-weight: 400;
    font-style: normal;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.title{
    font-size: 62px;
    font-weight: 600;
    line-height: 1.125;
}

.subtitle{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.navbar.navbar-default.navbar-fixed-top {
    border: 0;
    background-color: white;
    box-shadow: rgba(3,27,78,0.1) 0px 2px 4px;
}

.navbar-default .navbar-brand{
    padding-left: 30px;
    padding-top: 7px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
    color: hsl(221,93%,16%);
    font-weight: 700;
}

.navbar-header > .navbar-brand > .navbar-logo{
    width: auto;
    height: 100%;
}

.navbar-default .navbar-brand:hover {
    color: white;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: #006aff;
}

.navbar-default .navbar-nav > li > a > i{
    border-color: #5b6886;
    border-width: 1px;
    border-radius: 0;
    margin-top: -7px;
    right: 15px;
    height: 8px;
    width: 8px;
}

.navbar-default .navbar-toggle {
    border-color: white;
    padding-top: 6px;
    padding-bottom: 6px;
}

.navbar-default .navbar-toggle:hover{
    background-color: white;
}

.navbar-toggle > span {
    display: inline-block;
    color: white;
    font-weight: 700;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
    width: 18px;
    margin-left: 3px;
}

.navbar-button{
    transition: background-color 0.25s linear,border-color 0.25s linear,color 0.25s linear;
    align-items: center;
    border-width: 1px;
    margin-right: 5px;
    margin-top: 5px;
    padding: 10px 16px 10px;
    background-color: white;
    border: 1px solid transparent;
    border-color: #006aff;
    border-radius: 5px;
    float: right;
}

.navbar-button:hover {
    background-color: #006aff;
    border: 1px solid transparent;
    border-color: #006aff;
    color: white;
}

main {
    padding-top: 50px;
}

.hero{
    background-color: #0061FF;
    color: white;
    align-items: center;
    background-image: url("https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
    background-position: center;
    background-size: cover;
}

.hero .subtitle{
    margin-top: 10px;
    font-size: 24px;
    color: white;
}

.card{
    width: 370px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    position: relative;
    margin: auto;
    font-weight: 700;
}

.card-header{
    padding: 16px 0 12px 0;
    border-radius: 6px 6px 0px 0px;
    background-color: #f3f5f9;
    text-align: center;
    color: #031b4e;
    font-size: 18px;
}

.card-header .title{
    font-size: 18px;
}

.card-content{
    min-height: 220px;
    text-align: center;
    padding: 32px;
}

.card-content span input{
    width: 100%;
    height: 48px;
    border: 1px solid #e5e8ed;
    box-sizing: border-box;
    border-radius: 3px;
    margin-bottom: 8px;
    font-size: 16px;
    padding: 16px;
    color: #031b4e;
    appearance: none;
    font-weight: normal;
}

.card-content span input:focus{
    border-color: #0069ff;
    outline: #0069ff;
}

.card-button{
    background-color: #006aff;
    border-color: transparent;
    color: #fff;
    transition: all 0.3s ease;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    font-family: 'Sailec-Bold','Helvetica','san-serif';
}

.card-button:hover{
    background-color: #1633ff
}

.card-end{
    border-top: 1px solid #f3f5f9;
    padding: 32px;
    width: 100%;
}

.card-end .row,
.row .card-end-button{
    padding: 0;
    margin: 0;
}

.card-end-button:first-child{
    padding-right: 10px;
}

.card-end-button button{
    padding: 10px;
    width: 100%;
    border: 1px solid #0069ff;
    color: #0069ff;
    background-color: #fff;
    border-radius: 4px;
}

.under-card{
    margin-top: 10px;
    color: white;
}

.logogrid{
    background-color: #F3F5F9;
}

.logogrid h6{
    font-size: 14px;
    letter-spacing: 0.05em;
}


.logos{
    margin-top: 32px;
}

.logos img{
    margin: auto;
    display: block;
}

.logo-end{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.logo-end a{
    color: #0069ff;
}

.logo-end a:hover{
    color: #1633ff;
}

.scale .title{
    color: #031b4e;
    font-size: 36px;
}

.scale .subtitle{
    font-size: 20px;
    color: #5b6987;
    margin-bottom: 70px;
}

.scale-button{
    border: none;
    background: none;
    display: block;
    padding: 15px 20px;
    border-radius: 0px;
    white-space: inherit;
    height: auto;
    text-align: left;
    color: rgba(3, 27, 78, 0.6);
}

.scale .deploy img{
    margin-top: 20px;
}

.scale .deploy h5{
    font-family: 'Sailec-Bold','system-ui','-apple-system','BlinkMacSystemFont','Segoe UI','Roboto','Helvetica Neue','Helvetica','Arial','sans-serif';
    color: #031b4e;
    line-height: 120%;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 18px;
}

.screen{
    background-color: #f3f5f9;
}

.screen .title{
    color: #031b4e;
    font-size: 36px;
}

.screen .subtitle{
    font-size: 20px;
    max-width: 750px;
    margin: auto;
}

.screens{
    margin-top: 64px;
}

.screens img{
    width: 100%;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(3,27,78,0.06);
}

.screens p{
    text-align: center;
    margin: 32px auto 0 auto;
}

.buttons{
    margin-top: 32px;
    text-align: center;
}

.circle-button:first-of-type{
    background-color: #0069ff;
}

.circle-button{
    border-radius: 100%;
    border: 2px solid white;
    width: 10px;
    height: 10px;
    font-size: 0;
    line-height: 0;
    display: block;
    padding: 3px;
    cursor: pointer;
    outline: 0;
    margin: 0 6px;
    background-color: transparent;
    border: 2px solid #0069ff;
    display: inline-block;
}

.business h2{
    color: #031b4e;
    font-size: 36px;
}

.business-content img{
    margin-top: 64px;
}

.business-content h5{
    color: #031b4e;
    font-size: 18px;
    margin-top: 25px;
}

.business-content p{
    margin-top: 20px;
}

.business-content a{
    margin: 20px auto;
    color: #0069ff;
}

.business-content a:hover{
    color: #1633ff;
}

.world{
    background: #031b4e url(https://prismic-io.s3.amazonaws.com/www-static/bb563ec9-49ef-4ceb-8468-da84f1509fcc_bg-map-solid.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.world-header{
    max-width: 770px;
    margin: auto;
    font-size: 36px;
}

.world-subtitle{
    max-width: 770px;
    margin: auto;
    font-size: 20px;
    color: #fff;
}

.world-content{
    margin-top: 64px;
}

.world-content .row{
    border-bottom: 1px solid hsla(0,0%,100%,0.2);
}

.world-content span{
    font-size: 13px;
    width: 80px;
    margin-left: 10px;
}

.world-content p{
    font-size: 13px;
    text-align: left;
    margin: 13px 0;
}

.world-content a{
    color: #00d7d2;
}

.world-content a:hover{
    color: #1633ff;
}

@media screen and (min-width: 992px) {
    .navbar-default .navbar-brand {
        font-size: 22px;
    }
}

@media screen and (max-width: 1200px) {
    .hero h1,
    .hero p{
        text-align: center;
    }

    .scale .menu{
        text-align: center;
    }

    .scale .deploy{
        text-align: center;
    }

    .scale button{
        display: inline-block;
    }

    .business-content{
        text-align: center;
    }

    .world-content{
        text-align: center;
    }
}
