body {
    font-family: 'Sailec-Medium','Helvetica','san-serif';
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

.navbar.navbar-default.navbar-fixed-top {
    border: 0;
    background-color: white;
}

.navbar-default .navbar-brand{
    padding-left: 30px;
    padding-top: 7px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
    color: hsl(221,93%,16%);
    font-weight: 700;
}

.navbar-header > .navbar-brand > .navbar-logo{
    width: auto;
    height: 100%;
}

.navbar-default .navbar-brand:hover {
    color: white;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: #006aff;
}

.navbar-default .navbar-nav > li > a > i{
    border-color: #5b6886;
    border-width: 1px;
    border-radius: 0;
    margin-top: -7px;
    right: 15px;
    height: 8px;
    width: 8px;
}

.navbar-default .navbar-toggle {
    border-color: white;
    padding-top: 6px;
    padding-bottom: 6px;
}

.navbar-default .navbar-toggle:hover{
    background-color: white;
}

.navbar-toggle > span {
    display: inline-block;
    color: white;
    font-weight: 700;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
    width: 18px;
    margin-left: 3px;
}

.navbar-button{
    text-decoration: none;
    align-items: center;
    float: right;
    border-width: 1px;
    margin-right: 5px;
    margin-top: 5px;
    padding: 10px 16px 10px;
    background-color: #006aff;
    border-color: transparent;
    color: #fff;
    border-radius: 5px;
}

.navbar-button:hover {
    text-decoration: none;
    transition: background-color 0.25s linear,border-color 0.25s linear,color 0.25s linear;
    background-color: white
}

main {
    padding-top: 50px;
}

.hero{
    background-color: #0061FF;
    color: white;
    align-content: center;
}

.card{
    width: 370px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    position: relative;
    margin: auto;
}

.card-header{
    padding: 16px 0 12px 0;
    border-radius: 6px 6px 0px 0px;
    background-color: #f3f5f9;
    text-align: center;
    color: #031b4e;
    font-size: 18px;
}

.card-content{
    min-height: 220px;
    text-align: center;
    padding: 32px;
}

.card-content span input{
    width: 100%;
    height: 48px;
    border: 1px solid #e5e8ed;
    box-sizing: border-box;
    border-radius: 3px;
    margin-bottom: 8px;
    font-size: 16px;
    padding: 16px;
    color: #031b4e;
    appearance: none;
}

.card-content span input:focus{
    border-color: #0069ff;
    outline: #0069ff;
}

.card-button{
    background-color: #006aff;
    border-color: transparent;
    color: #fff;
    transition: all 0.3s ease;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
}

.card-button:hover{
    background-color: #1633ff
}

.hero p{
    margin-top: 10px;
}

@media screen and (min-width: 992px) {
    .navbar-default .navbar-brand {
        font-size: 22px;
    }

    section {
        padding: 100px 0;
    }
}
